/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
  background: #ccc;
  color: black;
  margin: 0.2em 0;
  padding: 0.2em 0;
}