

#definitions {
  background: $white;
  padding: 0.75em;

  overflow: visible;
  position: absolute;
  z-index: 10;
  
  @include box-sizing(border-box);
  
  header {
    margin: 0;
    padding-bottom: 0.75em;
    
    position: relative;
    overflow: visible;
    
    height: 20%;
    max-height: 100px;
    @include box-sizing(border-box);
    
    h2 {
      background-color: $orange;
      padding: 0.75em 0.75em 0.75em 2.5em;
      
      color: $white;
      font-weight: normal;
      
      @include definitions-font;
      @include border-radius(8px);
      @include box-shadow((inset 0 0 5px $alphagray));
      @include linear-gradient((left, $orange, #f2b16c, $orange));
      
      .icon {
        background: transparent url(../img/definitions-icon.png) no-repeat scroll top left;
        margin-top: -18px;
        
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.75em;
        
        width: 25px;
        height: 24px;
      }
    }
    
    .close {
      $border: 0.3em;
    
      background: $textdarkorange;
      border: $border solid $white;
      color: $white;
      display: block;
    
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 0.7;
    
      width: 1em;
      height: 1em;
    
      position: absolute;
      top: -$border;
      right: -$border;
    
      @include border-radius(50%);
    }
    
    .pointer {
      background: transparent url(../img/definitions-pointer.png) no-repeat scroll top left;
      display: inline-block;
      margin-top: -0.75em;
      
      position: absolute;
      top: -16px;
      left: 72.5%;
      
      width: 32px;
      height: 16px;
    }
  }
  
  .terms {
    border-top: 3px solid $darkgray;
    margin: 0;
    padding-top: 0.75em;
    
    @include definitions-font;
    @include box-sizing(border-box);
    
    height: 80%;
    overflow: scroll;
    
    ul {
      background-color: $lightgray;
      list-style: none;
      margin: 0;
      padding: 0;
      
      li:first-child dl {
        border-top: none;
      }
      
      dl {
        border-top: 2px solid $white;
        margin: 0 1.5em;
        
        dt {
          font-weight: bold;
          padding-top: 0.75em;
        }
        dd {
          margin: 0;
          padding-bottom: 0.75em;
        }
      }
    }
  }
}

#definitions-overlay {
  background-color: #000;
  opacity: 0.5;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  z-index: 5;
}
