.input {
  background: $white;
  padding: 1.5em;
  
  min-height: 460px;
  height: 100%;
  
  @include box-sizing(border-box);
  @include border-radius(12px 0 0 0);
  
  fieldset {
    background: #fff url(../img/input-rarr.jpg) no-repeat scroll left 1.25em;
    border-bottom: 1px solid $medgray;
    padding: 1em 0 1em 2em;
    
    &:last-child {
      border-bottom: none;
    }
    
    p, div { margin: 1em 0 0 2em; }
    .chzn-container,
    .chzn-container div { margin: 0; }
    
    ul {
      list-style-type: none;
    }
  }
}

.job-type-fieldset { vertical-align: top; }
.job-type-span {
  display: inline-block;
  width: 73%;

  a {
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    line-height: 1.2;
    padding: 0.125em 0.25em;

    @include box-sizing(border-box);
  }
}
#job-type { width: 100%; }
#more-days {
  display: block;
  font-size: 15px;
  font-style: italic;
}