nav {
  background: $medgray;
  overflow: hidden;
  
  height: 33px;
  
  @include calc(padding-bottom, 8, 16);
  @include calc(padding-top, 8, 16);
  
  @include calc(margin-top, -54, 18);
  @include border-radius(12px 12px 0 0);
  @include linear-gradient((-30deg, $medgray 0%, $medgray 50%, lighten($medgray, 8%) 56.25%, lighten($medgray, 12%) 56.375%, $medgray 61.5%));
  
  li {
    display: inline-block;
    padding: 0 0.75em;
    
    width: 11%;
    height: 33px;
    
    @include box-sizing(border-box);
    
    a {
      white-space: nowrap;
      overflow: hidden;
    }
    
    &.start-over  a { text-indent: 18px; width: 18px; }
    &.ask-tim     a { text-indent: 39px; width: 39px; }
    &.definitions a { text-indent: 25px; width: 25px; }
    &.print       a { text-indent: 20px; width: 20px; }
    &.share       a { text-indent: 22px; width: 22px; }
    
    &.start-over  a .icon { width: 18px; background-position: bottom center; }
    &.ask-tim     a .icon { width: 39px; background-position: top center; }
    &.definitions a .icon { width: 25px; background-position: top left; }
    &.print       a .icon { width: 20px; background-position: top right; }
    &.share       a .icon { width: 22px; background-position: bottom left; }
    
    &.start-over  a:hover .icon { background-position: bottom center; }
    &.ask-tim     a:hover .icon { background-position: center center; }
    &.definitions a:hover .icon { background-position: center left; }
    &.print       a:hover .icon { background-position: center right; }
    &.share       a:hover .icon { background-position: bottom right; }
    
    &.start-over {
      padding-left: 2.25em;
      padding-right: 0;
      width: 16%;
      
      .inset-button {
        background: $orange;
        
        width: 100%;
        
        @include border-radius(8px);
        @include box-shadow(inset 0 0 5px $alphagray);
        @include box-sizing(border-box);
        
        &:hover,
        &.hover { background: lighten($orange, 8%); }
      }
    }
    
    &.ask-tim     { width: 21.5%; }
    &.definitions { padding-right: 0; width: 13%; }
    &.print       {  }
    
    &.share {
      padding-left: 0;
      padding-right: 2.25em;
    }
    
  }
  
  a {
    display: inline-block;
    position: relative;
    
    padding-top: 5px;
    padding-bottom: 3px;
    
    .icon {
      background: transparent url(../img/nav-icons.png) no-repeat scroll center center;
      display: block;
      
      left: 0;
      position: absolute;
      top: 50%;
      
      margin-top: -16.5px;
      
      height: 33px;
    }
  }
}

.home nav li { display: none }