nav {
  background: $medgray;
  overflow: hidden;
  
  height: 33px;
  
  @include calc(padding-bottom, 10, 16);
  @include calc(padding-top, 11, 16);
  
  @include calc(margin-top, -54, 18);
  @include border-radius(12px 12px 0 0);
  
  $hud-width: 0.375;
  $left-width: (1 - $hud-width) / 2;
  
  $m: percentage($left-width + ($hud-width * 0.50));
  $n: percentage($left-width + ($hud-width * 0.75));
  $o: percentage($left-width + ($hud-width * 0.76));
  $p: percentage($left-width + ($hud-width * 0.92));
  
  @include linear-gradient((-30deg, $medgray 0%, $medgray $m, lighten($medgray, 8%) $n, lighten($medgray, 12%) $o, $medgray $p));
  
  li {
    display: inline-block;
    padding: 0 0.75em;
    
    width: 10%;
    height: 33px;
    
    @include box-sizing(border-box);
    
    &.start-over {
      padding-left: 2.25em;
      padding-right: 0;
      width: 15.625%;
      
      .inset-button {
        background: $orange;
        cursor: pointer;
        padding: 0;
        
        width: 100%;
        height: 100%;
        
        @include border-radius(8px);
        @include box-shadow(inset 0 0 5px $alphagray);
        @include box-sizing(border-box);
        
        &:hover,
        &.hover { background: lighten($orange, 8%); }
      }
    }
    
    &.ask-tim     { width: 15.625%; }
    &.definitions { padding-right: 0; width: 11%; }
    &.print       {  }
    
    &.share {
      padding-left: 0;
      padding-right: 2.25em;
    }
    
    &.start-over  q { text-indent: 18px; width: 18px; }
    &.ask-tim     a { text-indent: 39px; width: 39px; }
    &.definitions a { text-indent: 25px; width: 25px; }
    &.print       a { text-indent: 20px; width: 20px; }
    &.share       a { text-indent: 22px; width: 22px; }
    
    &.start-over  a .icon { width: 18px; background-position: bottom center; }
    &.ask-tim     a .icon { width: 39px; background-position: top center; }
    &.definitions a .icon { width: 25px; background-position: top left; }
    &.print       a .icon { width: 20px; background-position: top right; }
    &.share       a .icon { width: 22px; background-position: bottom left; }
    
    &.start-over  a:hover .icon { background-position: bottom center; }
    &.ask-tim     a:hover .icon { background-position: center center; }
    &.definitions a:hover .icon { background-position: center left; }
    &.print       a:hover .icon { background-position: center right; }
    &.share       a:hover .icon { background-position: bottom right; }
  }
  
  a, q {
    display: inline-block;
    position: relative;
    
    padding-top: 5px;
    padding-bottom: 3px;
    
    white-space: nowrap;
    overflow: hidden;
    
    .icon {
      background: transparent url(../img/nav-icons.png) no-repeat scroll center center;
      display: block;
      
      left: 0;
      position: absolute;
      top: 50%;
      
      margin-top: -16.5px;
      
      height: 33px;
    }
  }
}

.home nav li { display: none }



.lt-ie9 nav { behavior: url(htc/PIE.htc); }
.lt-ie9 nav li.start-over .inset-button { behavior: url(htc/PIE.htc); border: 1px solid #999; }


