.output {
  // Override in media queries!
  display: none;

  background: $lightgray;
  overflow: hidden;
  padding: 1em;
  
  min-height: 120px;
  height: 100%;
  
  @include box-sizing(border-box);
  @include border-radius(0 12px 0 0);
  @include box-shadow(inset 12px 0 8px -6px $lightalphagray);
  
  a         { color: $textorange; text-decoration: none; }
  a:hover   { color: darken($textorange,  8%); }
  a:visited { color: darken($textorange, 16%); }
  
  table {
    color: $gray;
    font-size: 0.875em;
    width: 100%;
  }
  
  thead {
    tr {
      th {
        border-bottom: 2px solid $white;
        letter-spacing: 1px;
        padding: 0.5em;
        text-align: center;
      }
    }
  }
  
  tr {
    line-height: 1.321;
      
    th {
      text-align: left;

      &:first-child { padding-left: 0.5em; }
      &:last-child { padding-right: 0.5em; }
    }
      
    td {
      &:first-child { padding-left: 1.5em; }
      &:last-child { padding-right: 0.5em; }
    }
      
    &:first-child th,
    &:first-child td { padding-top: 0.5em; }
      
    &:last-child th,
    &:last-child td { padding-bottom: 0.5em; }
  }
  
  tfoot {
    th, td {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      
      &:last-child {
        text-align: right;
      }
    }
    
    #subtotal {
      th, td {
        border-bottom: 2px solid $white;
      }
    }
    
    #total {
      th, td {
        background: $white;
        color: $textorange;
        padding-top: 0.75em;
        padding-bottom: 0.75em;
      }
    }
  }
  
  .amount {
    text-align: right;
  }
}

.ie .output {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.lt-ie9 .output {
  background-image: url(../img/13x1-medgrey-lightgrey.jpg);
  background-position: top left;
  background-repeat: repeat-y;
}

.cta {
  background: $lightestgray;
  padding: 0.75em 1em;
  margin: 3em 0;

  @include border-radius(10px);
  @include small;
}





























