.splash {
  background: $white;
  display: block;
  
  @include border-radius(12px 12px 0 0);
  
  img { position: absolute; }
  
  .radial   { bottom: 0;    left: -14%; max-width: 1050px; width: 114%; }
  .preview  { bottom: 0;    right:  0;  max-width: 762px;  width: 82.6%; }
  .subtitle { top: 7%;    right: 7%;  max-width: 349px;  width: 40%; }
  .title    { top: 19%;    left: 7.5%; max-width: 274px;  width: 32%; }
  
  .tl { top: 0; left: 0; opacity: 0.5; }
  .br { bottom: 0; right: 0; opacity: 0.5; }
}

.lt-ie9 .splash { behavior: url(htc/PIE.htc); }
.lt-ie9 .ie-splash-shadow { behavior: url(htc/PIE.htc); }

.ie-splash-shadow {
  border: 1px solid #999;

  @include border-radius(12px 12px 0 0);
  
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}