/*
#tooltip-left {
  padding-left: 1.5em;
  left: 0;
  width: 62.5%;
  
  .pointer {
    background: transparent url(../img/definitions-tooltip-left-pointer.png) no-repeat scroll top left;
  }
}

#tooltip-right {
  padding-right: 1.5em;
  right: 0;
  width: 37.5%;
  
  .pointer {
    background: transparent url(../img/definitions-tooltip-right-pointer.png) no-repeat scroll top left;
  }
  
  .inner {
    &.right { position: relative; }
  }
  
  .content {
    background: $gray;
    padding: 0.5em 0.75em;
    
    @include box-shadow(inset 0 0 10px $hardalphawhite);
    
    dt {
      font-size: 1em;
      font-weight: bold;
      text-align: left;
      padding: 0.25em 0;
    }
    
    dd {
      background: transparent;
      font-size: 0.875em;
      font-style: italic;
      line-height: 1.5;
      padding: 0.5em 0 0.75em;
    }
  }
  
  .close {
    span {
      color: $gray;
    }
  }
}
*/

.tooltip {
  color: $white;
  position: absolute;
  z-index: 10;
  
  @include box-sizing(border-box);
  
  .content,
  dl, dt, dd, footer, a {
    color: $white;
    margin: 0;
    padding: 0;
  }

  .content {
    dt {
      font-size: 1em;
      font-weight: bold;
    }
    
    dd {
      font-size: 0.875em;
      font-style: italic;
    }
  }
  
  &.left {
    .pointer { background: transparent url(../img/definitions-tooltip-left-pointer.png) no-repeat scroll top left; }

    .content {
      background: transparent;
      
      dt {
        padding: 0.75em 0 0.5em;
        text-align: center;
      }
      
      dd {
        background: $softalphawhite;
        line-height: 1.8;
        padding: 0.5em 1.5em 0.75em;
      }
    }
  }

  &.right {
    .pointer { background: transparent url(../img/definitions-tooltip-right-pointer.png) no-repeat scroll top left; }

    .content {
      padding: 0.5em 0.75em;
      
      dt {
        font-size: 1em;
        font-weight: bold;
        padding: 0.5em 0 0;
      }
      
      dd {
        background: transparent;
        line-height: 1.5;
        padding: 0.5em 0 0.75em;
      }
    }
    
    .close {
      span { color: $gray; }
    }
  }

  .pointer {
    display: block;
    position: absolute;
    margin-left: -14px;
    
    top: -14px;
    left: 50%;
    
    width: 29px;
    height: 23px;
  }

  .inner {
    border: 1px solid $darkgray;
    @include box-shadow(inset 0 0 10px $hardalphawhite);
  }

  &.left,
  &.right {
    
    padding-left: 2.25em;
    padding-right: 2.25em;

    .inner {
      background: $darkgray;
      float: none;
      padding: 0;
      position: relative;
      width: 100%;

      @include box-sizing(border-box);

      &.right {
        background: $gray;
        padding: 0 0.75em;
      }
    }

    .close {
      left: auto;
      right: 0;
      margin: 0;
      padding: 0 0.75em 0 0;
      width: auto;
    }
  }

  .close {
    color: $white;
    font-size: 0.6em;
    text-transform: uppercase;
    
    padding: 0;
    position: absolute;
    top: 1em;
    right: 1.25em;
    
    span {
      background: $white;
      color: $darkgray;
      display: inline-block;
      margin-top: 0.1em;
      margin-left: 0.25em;
    
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      line-height: 0.7;
    
      width: 1em;
      height: 1em;
  
      @include border-radius(10px 10px 10px 10px);
    }
  }

  footer {
    background: transparent;
    overflow: hidden;
    
    a {
      display: inline-block;
      position: relative;
      
      font-size: 0.75em;
      
      margin: 0.25em 2em 0.75em;
//      padding: 0.5em 0 0.75em;
      
      &.definitions {
        margin-top: 1.4em;
        padding-left: 36px;
        text-transform: uppercase;
        
        .icon {
          background: transparent url(../img/definitions-icon.png) no-repeat scroll top left;
          
          display: block;
          width: 25px;
          height: 24px;
        
          position: absolute;
          top: 50%;
          left: 0;
        
          margin-top: -12px;
        }
      }
      
      &.contact-tim {
        font-size: 1em;
        
        .icon {
          background: transparent url(../img/contact-tim-icon.png) no-repeat scroll top left;
          
          display: inline-block;
          width: 39px;
          height: 33px;
          
          position: relative;
          bottom: -8px;
        }
        
        em {
          font-size: 0.75em;
          font-style: normal;
          text-transform: uppercase;
        }
      }
    }
    
    .definitions.open { float: left; }
    .contact-tim { float: right; }
  }
}

.ie .tooltip .close {
  padding-top: 0.55em;
  padding-right: 2.5em;
}
.ie .tooltip .close span {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
}





























