.number-drag-cursor-h,
.number-hover {
	cursor: pointer;
	cursor: move;
	cursor: col-resize;
}

input[type=number] {
	text-align: right;
	width: 2.5em;
}

.number-hover {
}

.number-down {
	color: #00c;
}

.input fieldset div.number-help { margin: 0; }
.number-help {
	color: #00f;
	font: 9px "Helvetica-Neue", "Arial", sans-serif;
	position: absolute;
}