.input {
  background: $white;
  overflow: visible;
  padding: 1.5em;

  min-height: 60px;
  height: 100%;

  @include box-sizing(border-box);
  // @include border-radius(12px 0 0 0);

  // Override in media queries!
  @include border-radius(12px 12px 0 0);
  form { display: none; }

  fieldset {
    background: #fff url(../images/input-rarr.jpg) no-repeat scroll left 1.25em;
    border-bottom: 1px solid $medgray;
    padding: 1em 0 1em 2em;

    select {
      border: 1px solid $gray;
      padding: 0 0.375em;
    }

    &:last-of-type {
      border-bottom: none;
    }

    p, div {
      margin: 1em 0 0 2em;
      & > select {
        min-width: 156px;
      }
    }
    .chzn-container,
    .chzn-container div { margin: 0; }

    ul {
      list-style-type: none;
    }
  }
}

.chzn-container .chzn-results li.active-result { line-height: 1.2; }
.chzn-container .mailto {
  color: $orange;
}

//#job-type-fieldset { vertical-align: top; }
#job-type-span {
  display: inline-block;

  & > a {
    display: inline-block;
    font-size: 15px;
    font-style: italic;
    line-height: 1.2;
    padding: 0.125em 0.25em;

    @include box-sizing(border-box);
  }
}

#more-days {
  display: block;
  font-size: 15px;
  font-style: italic;
}

#input-cta {
  margin: 1.5em 0;
}



.ie .input {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}


