@import "../gold/zoomable-baseline-func";
@import "../css3/box-sizing";
@import "../colors";

header {
  overflow: hidden;
  width: 100%;
  
  @include calc(margin-top, 12, 24);
  @include calc(margin-bottom, 12, 24);
}

hgroup {
  overflow: hidden;
  padding: 0 0.75em;
//  width: 50%;
  
  @include box-sizing(border-box);
  
  &.left {
    float: left;
    padding-left: 0.1em;
    /*width: 62.5%;*/
  }

  &.right {
    float: right;
    padding-right: 0.1em;
    /*width: 37.5%;*/
  }
}

h1 {
/*  
  .kir { 
    background: transparent url(../img/logo-type.jpg) no-repeat scroll center center;
    display: inline-block;
    display: none;
    
    width: 399px;
    height: 47px;
  }
*/  
  a {
    display: inline-block;
    line-height: 0;

    width: 100%;
    
    @include calc(margin-top, 20, 26);
  }
  
  img {
    width: 100%;
    max-width: 460px;
  }
  
  em {
    border-left: 1px solid black;
    @include calc(margin-left, 8, 16);
    @include calc(padding-left, 12, 16);
    @include calc(padding-top, 9, 26);
  }
  
  b {
    @include calc(margin-left, 3, 16);
  }
}

h6 {
  margin-bottom: 0.5em;
}