$white: #fff;
$black: #000;

$orange: #ff8106;
$darkorange: #c96300;

//$lightgray: #e6e7e8;

$paleblue: #e6e7e8;

//$medgray: #bcbcbc;
//$gray: #666;
//$darkgray: #474747;

$softgrey: lighten($black, 73.7);
$grey: lighten($black, 40.0);
$hardgray: lighten($black, 27.8);

//$softalphawhite: rgba(255,255,255,0.25);
//$alphawhite: rgba(255,255,255,0.5);
//$hardalphawhite: rgba(255,255,255,0.75);

$softalphawhite: rgba(255,255,255,0.25);
$alphawhite: rgba(255,255,255,0.5);
$hardalphawhite: rgba(255,255,255,0.75);

//$lightalphagray: rgba(0,0,0,0.25);
//$alphagray: rgba(0,0,0,0.5);
//$darkalphagray: rgba(0,0,0,0.75);

$softalphablack: rgba(0,0,0,0.25);
$alphablack: rgba(0,0,0,0.5);
$hardalphablack: rgba(0,0,0,0.75);



$textorange: #f93;
$textdarkorange: #f60;

$textblue: #39c;

$textwhite: $white;

$textgrey: $grey;

//$textmedgray: #525252;
//$textdarkgray: #4e4d4d;

$texthardgrey: lighten($black, 32.2);
$textdarkgrey: lighten($black, 30.2);

$textblack: $black;