@import "gold/zoomable-baseline-func";
@import "colors";
@import "fonts";

.small    { @include small;    }
.normal   { @include normal;   }
.large    { @include large;    }
.huge     { @include huge;     }
.massive  { @include massive;  }
.gigantic { @include gigantic; }

::-moz-selection { background: $orange; color: $textwhite; text-shadow: none; }
::selection { background: $orange; color: $textwhite; text-shadow: none; }

body {
//	@include normal;
	@include body-font;
}

h1 {
	@include line(26, 42);
	@include calc(letter-spacing, 2, 16);
	
	em {
		font-size: 75%;
	}
	
	em, b {
		font-style: normal;
		font-weight: 100;
		
		@include calc(letter-spacing, 3, 16);
	}
}

h3 { font-style: italic; }
h4 {
	color: $textgray;
	font-weight: normal;
}

footer h3,
footer h4,
footer address,
footer span {
	@include calc(line-height, 24, 14);
}

h6 {
	font-style: italic;
	font-weight: normal;
	text-align: right;
	
	@include line(11, 18);
}

.hud {
	color: $white;
	
	h2 {
		@include large;
		
		output, a {
			font-weight: normal;
			text-align: center;
		}
		
		a {
			color: $white;
			letter-spacing: 4px;
			text-transform: uppercase;
		}
	}
	
	h5 {
		color: $textmedgray;
		font-weight: normal;
		
		text-align: center;
		text-transform: uppercase;
		
		@include line(12, 24);
	}
}

a					{ color: $textdarkorange; text-decoration: none; }
a:hover	 	{ color: darken($textdarkorange,  8%); }
a:visited	{ color: darken($textdarkorange, 16%); }

nav {
	ul {
		overflow: hidden;
	}
	
	li {
		text-align: center;
		
		@include line(12, 24);
		
		a {
			color: $textmedgray;
			text-decoration: none;
			text-transform: uppercase;

			&:visited { color: $textmedgray; }
			&:hover { color: $textblack; }
		}
		
		&.start-over {
			a				{ color: $white; font-weight: bold; }
			a:hover { color: $white; }
		}
	}
}

fieldset { @include line(17, 24); }
select { background: transparent; }

thead {
	th {
		font-weight: normal;
		text-transform: uppercase;
	}
}

footer {
	@include line(14, 32);
}

.twitter-feed {
	a { line-height: 1; }
	p { @include calc(line-height, 36, 14); }
}

.latest-tweet a         { color: $textblue; }
.latest-tweet a:hover   { color: darken($textblue, 15%); }
.latest-tweet a:visited { color: darken($textblue, 30%); }

address                 { color: $textgray; }
address,
address em,
.footer span { font-style: normal; }
address em   { font-weight: bold; }