/*
  Author: Matt Hayes
*/
#compare {
  background: transparent url(../img/_compare.png) no-repeat scroll center center;
  width: 1200px;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  opacity: 0.5;
  text-align: center; }

/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0; }

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

html, button, input, select, textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

nav ul,
nav ol {
  margin: 0;
  padding: 0; }

/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

textarea {
  resize: vertical; }

/* Colors for form validity */
input:invalid,
textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  background: #ccc;
  color: black;
  margin: 0.2em 0;
  padding: 0.2em 0; }

/*
*
*  Simple fluid media
*
*/
figure {
  position: relative; }

figure img,
figure object,
figure embed,
figure video {
  max-width: 100%;
  display: block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* PRIMARY STYLES */
body {
  background: white;
  position: relative;
  /*  
    min-height: 100%;
  */ }

.orange {
  background: #ff8106; }

.banner-top {
  border: 0 solid #bcbcbc;
  border-bottom-width: 0.125em;
  height: 0.813em;
  width: 100%; }

.banner-bottom {
  border: 0 solid #bcbcbc;
  border-top-width: 0.125em;
  height: 1.625em;
  width: 100%;
  /*  
    position: absolute;
    bottom: 0;
    left: 0;
  */ }

.page {
  margin: 0 5.556%; }

header {
  overflow: hidden;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

hgroup {
  overflow: hidden;
  padding: 0 0.75em;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  hgroup.left {
    float: left;
    padding-left: 0.1em;
    /*width: 62.5%;*/ }
  hgroup.right {
    float: right;
    padding-right: 0.1em;
    /*width: 37.5%;*/ }

h1 {
  /*  
    .kir { 
      background: transparent url(../img/logo-type.jpg) no-repeat scroll center center;
      display: inline-block;
      display: none;
      
      width: 399px;
      height: 47px;
    }
  */ }
  h1 a {
    display: inline-block;
    line-height: 0;
    width: 100%;
    margin-top: 0.769em; }
  h1 img {
    width: 100%;
    max-width: 460px; }
  h1 em {
    border-left: 1px solid black;
    margin-left: 0.5em;
    padding-left: 0.75em;
    padding-top: 0.346em; }
  h1 b {
    margin-left: 0.188em; }

h6 {
  margin-top: 2.167em; }

.left {
  float: left; }

.right {
  float: right; }

.hud {
  background: #bcbcbc;
  margin: 0 auto;
  padding: 0.75em 0.75em 0;
  position: relative;
  width: 37.5%;
  height: 84px;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 75%, #dbdbdb 76%, #bcbcbc 92%);
  background-image: -moz-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 75%, #dbdbdb 76%, #bcbcbc 92%);
  background-image: -ms-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 75%, #dbdbdb 76%, #bcbcbc 92%);
  background-image: -o-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 75%, #dbdbdb 76%, #bcbcbc 92%);
  background-image: linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 75%, #dbdbdb 76%, #bcbcbc 92%); }
  .hud h2 {
    background: #ff8106;
    padding: 0.25em;
    /*width: 100%;*/
    position: absolute;
    right: 0.5em;
    left: 0.5em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-image: -webkit-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
    background-image: -moz-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
    background-image: -ms-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
    background-image: -o-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
    background-image: linear-gradient(left, #ff8106, #f2b16c, #ff8106);
    /*    b { position: absolute; }*/ }
  .hud .estimate output, .hud .estimate a {
    display: inline-block;
    width: 100%;
    -webkit-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    -ms-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    -o-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.5); }
  .hud .start {
    display: none; }
    .hud .start b {
      line-height: 0;
      position: relative;
      top: 2px; }
    .hud .start a {
      display: inline-block;
      width: 100%;
      -webkit-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
      -moz-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
      -ms-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
      -o-text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
      text-shadow: 0 0 16px rgba(0, 0, 0, 0.5); }
  .hud h5 {
    display: block;
    position: absolute;
    right: 1em;
    bottom: -0.375em;
    left: 1em; }

.home .hud .estimate {
  display: none; }

.home .hud .start {
  display: block; }

.home .hud h5 {
  display: none; }

nav {
  background: #bcbcbc;
  overflow: hidden;
  height: 33px;
  padding-bottom: 0.625em;
  padding-top: 0.688em;
  margin-top: -3em;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  background-image: -webkit-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 59.375%, #dbdbdb 59.75%, #bcbcbc 65.75%);
  background-image: -moz-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 59.375%, #dbdbdb 59.75%, #bcbcbc 65.75%);
  background-image: -ms-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 59.375%, #dbdbdb 59.75%, #bcbcbc 65.75%);
  background-image: -o-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 59.375%, #dbdbdb 59.75%, #bcbcbc 65.75%);
  background-image: linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 59.375%, #dbdbdb 59.75%, #bcbcbc 65.75%); }
  nav li {
    display: inline-block;
    padding: 0 0.75em;
    width: 10%;
    height: 33px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    nav li.start-over {
      padding-left: 2.25em;
      padding-right: 0;
      width: 15.625%; }
      nav li.start-over .inset-button {
        background: #ff8106;
        cursor: pointer;
        padding: 0;
        width: 100%;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
        nav li.start-over .inset-button:hover, nav li.start-over .inset-button.hover {
          background: #ff962f; }
    nav li.ask-tim {
      width: 15.625%; }
    nav li.definitions {
      padding-right: 0;
      width: 11%; }
    nav li.share {
      padding-left: 0;
      padding-right: 2.25em; }
    nav li.start-over q {
      text-indent: 18px;
      width: 18px; }
    nav li.ask-tim a {
      text-indent: 39px;
      width: 39px; }
    nav li.definitions a {
      text-indent: 25px;
      width: 25px; }
    nav li.print a {
      text-indent: 20px;
      width: 20px; }
    nav li.share a {
      text-indent: 22px;
      width: 22px; }
    nav li.start-over a .icon {
      width: 18px;
      background-position: bottom center; }
    nav li.ask-tim a .icon {
      width: 39px;
      background-position: top center; }
    nav li.definitions a .icon {
      width: 25px;
      background-position: top left; }
    nav li.print a .icon {
      width: 20px;
      background-position: top right; }
    nav li.share a .icon {
      width: 22px;
      background-position: bottom left; }
    nav li.start-over a:hover .icon {
      background-position: bottom center; }
    nav li.ask-tim a:hover .icon {
      background-position: center center; }
    nav li.definitions a:hover .icon {
      background-position: center left; }
    nav li.print a:hover .icon {
      background-position: center right; }
    nav li.share a:hover .icon {
      background-position: bottom right; }
  nav a, nav q {
    display: inline-block;
    position: relative;
    padding-top: 5px;
    padding-bottom: 3px;
    white-space: nowrap;
    overflow: hidden; }
    nav a .icon, nav q .icon {
      background: transparent url(../img/nav-icons.png) no-repeat scroll center center;
      display: block;
      left: 0;
      position: absolute;
      top: 50%;
      margin-top: -16.5px;
      height: 33px; }

.home nav li {
  display: none; }

.calculator {
  position: relative; }

.inner {
  background: #bcbcbc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-linear-gradient(top, #bcbcbc 0px, white 260px);
  background-image: -moz-linear-gradient(top, #bcbcbc 0px, white 260px);
  background-image: -ms-linear-gradient(top, #bcbcbc 0px, white 260px);
  background-image: -o-linear-gradient(top, #bcbcbc 0px, white 260px);
  background-image: linear-gradient(top, #bcbcbc 0px, white 260px); }
  .inner.left {
    position: relative;
    padding-left: 1.5em;
    width: 62.5%; }
  .inner.right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-right: 1.5em;
    width: 37.5%; }

.splash {
  background: white;
  display: block;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0; }
  .splash img {
    position: absolute; }
  .splash .radial {
    bottom: 0;
    left: -14%;
    max-width: 1050px;
    width: 114%; }
  .splash .preview {
    bottom: -2px;
    left: 18%;
    max-width: 897px;
    width: 97.5%; }
  .splash .subtitle {
    top: 35px;
    right: 7%;
    max-width: 349px;
    width: 40%; }
  .splash .title {
    top: 87px;
    left: 7.5%;
    max-width: 274px;
    width: 32%; }
  .splash .tl {
    top: 0;
    left: 0;
    opacity: 0.5; }
  .splash .br {
    bottom: 0;
    right: 0;
    opacity: 0.5; }

.input {
  background: white;
  padding: 1.5em;
  min-height: 460px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 12px 0 0 0;
  -moz-border-radius: 12px 0 0 0;
  -ms-border-radius: 12px 0 0 0;
  -o-border-radius: 12px 0 0 0;
  border-radius: 12px 0 0 0; }
  .input fieldset {
    background: white url(../img/input-rarr.jpg) no-repeat scroll left 1.25em;
    border-bottom: 1px solid #bcbcbc;
    padding: 1em 0 1em 2em; }
    .input fieldset:last-child {
      border-bottom: none; }
    .input fieldset p, .input fieldset div {
      margin: 1em 0 0 2em; }
    .input fieldset .chzn-container,
    .input fieldset .chzn-container div {
      margin: 0; }
    .input fieldset ul {
      list-style-type: none; }

#job-type {
  width: 70%; }

.output {
  background: #e6e7e8;
  padding: 1em;
  min-height: 460px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 12px 0 0;
  -moz-border-radius: 0 12px 0 0;
  -ms-border-radius: 0 12px 0 0;
  -o-border-radius: 0 12px 0 0;
  border-radius: 0 12px 0 0;
  -webkit-box-shadow: inset 12px 0 8px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 12px 0 8px -6px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: inset 12px 0 8px -6px rgba(0, 0, 0, 0.25);
  -o-box-shadow: inset 12px 0 8px -6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 12px 0 8px -6px rgba(0, 0, 0, 0.25); }
  .output a {
    color: #ff9933;
    text-decoration: none; }
  .output a:hover {
    color: #ff850a; }
  .output a:visited {
    color: #e07000; }
  .output table {
    color: #666666;
    font-size: 0.875em;
    width: 100%; }
  .output thead tr th {
    border-bottom: 2px solid white;
    letter-spacing: 1px;
    padding: 0.5em;
    text-align: center; }
  .output tr {
    line-height: 1.321; }
    .output tr th {
      text-align: left; }
      .output tr th:first-child {
        padding-left: 0.5em; }
      .output tr th:last-child {
        padding-right: 0.5em; }
    .output tr td:first-child {
      padding-left: 1.5em; }
    .output tr td:last-child {
      padding-right: 0.5em; }
    .output tr:first-child th, .output tr:first-child td {
      padding-top: 0.5em; }
    .output tr:last-child th, .output tr:last-child td {
      padding-bottom: 0.5em; }
  .output tfoot th, .output tfoot td {
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .output tfoot th:last-child, .output tfoot td:last-child {
      text-align: right; }
  .output tfoot #subtotal th, .output tfoot #subtotal td {
    border-bottom: 2px solid white; }
  .output tfoot #total th, .output tfoot #total td {
    background: white;
    color: #ff9933;
    padding-top: 0.75em;
    padding-bottom: 0.75em; }
  .output .amount {
    text-align: right; }

.both,
.splash,
.inset {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.both,
.inset {
  margin: 0 1.5em;
  overflow: hidden; }

.inset {
  /* http://stackoverflow.com/questions/3680429/click-through-a-div-to-underlying-elements */
  pointer-events: none;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  border-radius: 12px 12px 0 0;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75); }

#definitions {
  background: white;
  padding: 0.75em;
  overflow: visible;
  position: absolute;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  #definitions header {
    margin: 0;
    padding-bottom: 0.75em;
    position: relative;
    overflow: hidden;
    height: 20%;
    max-height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    #definitions header#advisory {
      padding-bottom: 0; }
      #definitions header#advisory h6 {
        text-align: center; }
    #definitions header h2 {
      background-color: #ff8106;
      padding: 0.75em 0.75em 0.75em 2.5em;
      color: white;
      font-weight: normal;
      font-family: Arial, Helvitica, sans-serif;
      font-weight: 300;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
      -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
      background-image: -webkit-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
      background-image: -moz-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
      background-image: -ms-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
      background-image: -o-linear-gradient(left, #ff8106, #f2b16c, #ff8106);
      background-image: linear-gradient(left, #ff8106, #f2b16c, #ff8106); }
      #definitions header h2 .icon {
        background: transparent url(../img/definitions-icon.png) no-repeat scroll top left;
        margin-top: -18px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0.75em;
        width: 25px;
        height: 24px; }
    #definitions header .close {
      background: #ff6600;
      border: 0.3em solid white;
      color: white;
      display: block;
      text-align: center;
      font-size: 1.4em;
      font-weight: bold;
      line-height: 0.7;
      width: 1em;
      height: 1em;
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    #definitions header .pointer {
      background: transparent url(../img/definitions-pointer.png) no-repeat scroll top left;
      display: inline-block;
      margin-top: -0.75em;
      position: absolute;
      top: -16px;
      left: 72.5%;
      width: 32px;
      height: 16px; }
  #definitions .terms {
    border-top: 3px solid #474747;
    margin: 0;
    padding-top: 0.75em;
    font-family: Arial, Helvitica, sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: 80%;
    overflow: scroll; }
    #definitions .terms ul {
      background-color: #e6e7e8;
      list-style: none;
      margin: 0.75em 0 0 0;
      padding: 0; }
      #definitions .terms ul li:first-child dl {
        border-top: none; }
      #definitions .terms ul dl {
        border-top: 2px solid white;
        margin: 0 1.5em; }
        #definitions .terms ul dl dt {
          font-weight: bold;
          padding-top: 0.75em; }
        #definitions .terms ul dl dd {
          margin: 0;
          padding-bottom: 0.75em; }

#advisory h5 {
  float: none;
  font-size: 1em;
  text-align: center; }
#advisory h6 {
  font-size: 0.8em;
  font-style: normal;
  margin: 0 1.5em;
  text-align: left; }

#definitions-overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5; }

#tooltip-left {
  padding-left: 1.5em;
  left: 0;
  width: 62.5%; }
  #tooltip-left .pointer {
    background: transparent url(../img/definitions-tooltip-left-pointer.png) no-repeat scroll top left; }

#tooltip-right {
  padding-right: 1.5em;
  right: 0;
  width: 37.5%; }
  #tooltip-right .pointer {
    background: transparent url(../img/definitions-tooltip-right-pointer.png) no-repeat scroll top left; }
  #tooltip-right .inner {
    width: 88%; }
    #tooltip-right .inner.right {
      position: relative; }
  #tooltip-right .content {
    background: #666666;
    padding: 0.5em 0.75em;
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    -ms-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    -o-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75); }
    #tooltip-right .content dt {
      font-size: 1em;
      font-weight: bold;
      text-align: left;
      padding: 0.25em 0; }
    #tooltip-right .content dd {
      background: transparent;
      font-size: 0.875em;
      font-style: italic;
      line-height: 1.5;
      padding: 0.5em 0 0.75em; }
  #tooltip-right .close span {
    color: #666666; }

.tooltip {
  position: absolute;
  top: 0;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  .tooltip .pointer {
    display: block;
    position: absolute;
    margin-left: -14px;
    top: -14px;
    left: 50%;
    width: 29px;
    height: 23px; }
  .tooltip .inner {
    background: #474747;
    border: 1px solid #474747;
    float: none;
    margin: auto;
    padding: 0;
    width: 94%;
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    -ms-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    -o-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.75); }
  .tooltip .content,
  .tooltip dl, .tooltip dt, .tooltip dd, .tooltip footer, .tooltip a {
    color: white;
    margin: 0;
    padding: 0; }
  .tooltip .content {
    background: transparent; }
    .tooltip .content dt {
      font-weight: bold;
      padding: 0.5em 0 0.75em;
      text-align: center; }
    .tooltip .content dd {
      background: rgba(255, 255, 255, 0.25);
      padding: 0.25em 2em; }
  .tooltip .close {
    color: white;
    font-size: 0.6em;
    text-transform: uppercase;
    position: absolute;
    top: 1em;
    right: 1.25em; }
    .tooltip .close span {
      background: white;
      color: #474747;
      display: inline-block;
      margin-top: 0.1em;
      margin-left: 0.25em;
      text-align: center;
      font-size: 2em;
      font-weight: bold;
      line-height: 0.7;
      width: 1em;
      height: 1em;
      -webkit-border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -ms-border-radius: 10px 10px 10px 10px;
      -o-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px; }
  .tooltip footer {
    background: transparent;
    overflow: hidden; }
    .tooltip footer a {
      display: inline-block;
      position: relative;
      font-size: 0.75em;
      margin: 0.25em 2em 0.75em; }
      .tooltip footer a.definitions {
        margin-top: 1.4em;
        padding-left: 36px;
        text-transform: uppercase; }
        .tooltip footer a.definitions .icon {
          background: transparent url(../img/definitions-icon.png) no-repeat scroll top left;
          display: block;
          width: 25px;
          height: 24px;
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -12px; }
      .tooltip footer a.contact-tim {
        font-size: 1em; }
        .tooltip footer a.contact-tim .icon {
          background: transparent url(../img/contact-tim-icon.png) no-repeat scroll top left;
          display: inline-block;
          width: 39px;
          height: 33px;
          position: relative;
          bottom: -8px; }
        .tooltip footer a.contact-tim em {
          font-size: 0.75em;
          font-style: normal;
          text-transform: uppercase; }
    .tooltip footer .definitions.open {
      float: left; }
    .tooltip footer .contact-tim {
      float: right; }

.number-drag-cursor-h,
.number-hover {
  cursor: pointer;
  cursor: move;
  cursor: col-resize; }

input[type=number] {
  text-align: right;
  width: 2.5em; }

.number-down {
  color: #00c; }

.input fieldset div.number-help {
  margin: 0; }

.number-help {
  color: #00f;
  font: 9px "Helvetica-Neue", "Arial", sans-serif;
  position: absolute; }

footer {
  margin: 0 1.5em 6em; }

.twitter-feed {
  background: #e6e7e8;
  border: 2px solid #bcbcbc;
  margin: 0.75em 0 3.5em;
  padding: 1em 1em 1em 0.75em;
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.twitter,
.latest-tweet,
.follow p {
  float: left; }

.latest-tweet {
  position: absolute;
  left: 54px;
  right: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.follow p {
  margin-right: 0.75em; }

.follow {
  float: right; }

hr {
  margin-bottom: 0.5em; }

.aftra-logo {
  background: white;
  float: right;
  padding: 0 0.4em;
  margin-right: 2.5em;
  margin-top: -2.75em; }

h4, h5 {
  float: left; }

address {
  clear: left; }

.home footer h3,
.home footer h4,
.home footer address {
  display: none; }

.small {
  font-size: 0.813em;
  line-height: 1.385em; }

.normal {
  font-size: 1em;
  line-height: 1.5em; }

.large {
  font-size: 1.625em;
  line-height: 1.385em; }

.huge {
  font-size: 2.625em;
  line-height: 1.143em; }

.massive {
  font-size: 4.25em;
  line-height: 1.059em; }

.gigantic {
  font-size: 6.875em;
  line-height: 1.091em; }

::-moz-selection {
  background: #ff8106;
  color: white;
  text-shadow: none; }

::selection {
  background: #ff8106;
  color: white;
  text-shadow: none; }

body {
  /*@include normal;*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 1.625em;
  line-height: 1.615em;
  letter-spacing: 0.125em; }
  h1 em {
    font-size: 75%; }
  h1 em, h1 b {
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.188em; }

h3 {
  font-style: italic; }

h4 {
  color: #666666;
  font-weight: normal; }

footer h3,
footer h4,
footer address,
footer span {
  line-height: 1.714em; }

h6 {
  font-style: italic;
  font-weight: normal;
  text-align: right;
  font-size: 0.688em;
  line-height: 1.636em; }

.hud {
  color: white; }
  .hud h2 {
    font-size: 1.625em;
    line-height: 1.385em; }
    .hud h2 output, .hud h2 a {
      font-weight: normal;
      text-align: center; }
    .hud h2 a {
      color: white;
      letter-spacing: 4px;
      text-transform: uppercase; }
  .hud h5 {
    color: #525252;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75em;
    line-height: 2em; }

a {
  color: #ff6600;
  text-decoration: none; }

a:hover {
  color: #d65600; }

a:visited {
  color: #ad4500; }

nav ul {
  overflow: hidden; }
nav li {
  text-align: center;
  font-size: 0.75em;
  line-height: 2em; }
  nav li a {
    color: #525252;
    text-decoration: none;
    text-transform: uppercase; }
    nav li a:visited {
      color: #525252; }
    nav li a:hover {
      color: black; }
  nav li.start-over a {
    color: white;
    font-weight: bold; }
  nav li.start-over a:hover {
    color: white; }

fieldset {
  font-size: 1.063em;
  line-height: 1.412em; }

thead th {
  font-weight: normal;
  text-transform: uppercase; }

footer {
  font-size: 0.875em;
  line-height: 2.286em; }

.twitter-feed a {
  line-height: 1; }
.twitter-feed p {
  line-height: 2.571em; }

.latest-tweet a {
  color: #3399cc; }

.latest-tweet a:hover {
  color: #246b8f; }

.latest-tweet a:visited {
  color: #143d52; }

address {
  color: #666666; }

address,
address em,
.footer span {
  font-style: normal; }

address em {
  font-weight: bold; }

/* CHOSEN */
/* @group Base */
.chzn-container {
  /*font-size: 13px;*/
  font-size: inherit;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 999; }

/* @end */
/* @group Single Chosen */
.chzn-container-single .chzn-single {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(top, #eeeeee 0%, white 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
  background-image: linear-gradient(top, #eeeeee 0%, white 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  /*height: 26px;
    line-height: 26px;*/
  height: 100%;
  line-height: inherit;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none; }

.chzn-container-single .chzn-single span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.chzn-container-single .chzn-single abbr {
  display: block;
  position: absolute;
  right: 26px;
  /*top: 8px;*/
  top: 7px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("../img/chosen-sprite.png") right top no-repeat; }

.chzn-container-single .chzn-single abbr:hover {
  background-position: right -11px; }

.chzn-container-single .chzn-single div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.6, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -o-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  border-left: 1px solid #aaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px; }

.chzn-container-single .chzn-single div b {
  /*background: url($chosen-sprite) no-repeat 0 5px;*/
  background: url("../img/chosen-sprite.png") no-repeat 0 0;
  display: block;
  width: 100%;
  height: 100%; }

.chzn-container-single .chzn-search {
  padding: 3px 4px;
  position: relative;
  margin: 0;
  white-space: nowrap;
  z-index: 1010; }

.chzn-container-single .chzn-search input {
  background: white url("../img/chosen-sprite.png") no-repeat 100% -22px;
  background: url("../img/chosen-sprite.png") no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url("../img/chosen-sprite.png") no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat 100% -22px, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat 100% -22px, linear-gradient(top, white 85%, #eeeeee 99%);
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaa;
  font-family: sans-serif;
  font-size: 1em; }

.chzn-container-single .chzn-drop {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 999; }

/* @end */
.chzn-container-single-nosearch .chzn-search input {
  position: absolute;
  left: -9000px; }

/* @group Multi Chosen */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background-image: -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, white 85%, #eeeeee 99%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative; }

.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none; }

.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0; }

.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }

.chzn-container-multi .chzn-choices .search-field .default {
  color: #999; }

.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%);
  background-image: -ms-linear-gradient(top, #e4e4e4 0%, #eeeeee 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, #e4e4e4 0%, #eeeeee 70%);
  color: #333;
  border: 1px solid #b4b4b4;
  /*line-height: 13px;*/
  line-height: inherit;
  padding: 3px 19px 3px 6px;
  margin: 3px 0 3px 5px;
  position: relative; }

.chzn-container-multi .chzn-choices .search-choice span {
  cursor: default; }

.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4; }

.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("../img/chosen-sprite.png") right top no-repeat; }

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px; }

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px; }

/* @end */
/* @group Results */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 190px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto; }

.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0; }

.chzn-container .chzn-results li {
  display: none;
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none; }

.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item; }

.chzn-container .chzn-results .highlighted {
  background: #3875d7;
  color: #fff; }

.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal; }

.chzn-container .chzn-results .highlighted em {
  background: transparent; }

.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item; }

.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold; }

.chzn-container .chzn-results .group-option {
  padding-left: 20px; }

.chzn-container-multi .chzn-drop .result-selected {
  display: none; }

/* @end */
/* @group Active  */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb; }

.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  -o-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, white 0%, #eeeeee 50%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none; }

.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px; }

.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb; }

.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important; }

/* @end */
/* @group Disabled Support */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important; }

.chzn-disabled .chzn-single {
  cursor: default; }

.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default; }

/* @group Right to Left */
.chzn-rtl {
  direction: rtl;
  text-align: right; }

.chzn-rtl .chzn-single {
  padding-left: 0;
  padding-right: 8px; }

.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0; }

.chzn-rtl .chzn-single div {
  left: 0;
  right: auto;
  border-left: none;
  border-right: 1px solid #aaaaaa;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto; }

.chzn-rtl .chzn-choices li {
  float: right; }

.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 6px 3px 19px;
  margin: 3px 5px 3px 0; }

.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 5px;
  right: auto;
  background-position: right top; }

.chzn-rtl.chzn-container-single .chzn-results {
  margin-left: 4px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 4px; }

.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 20px; }

.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none; }

.chzn-rtl .chzn-search input {
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, white;
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url("../img/chosen-sprite.png") no-repeat -38px -22px, linear-gradient(top, white 85%, #eeeeee 99%);
  padding: 4px 5px 4px 20px; }

/* @end */
/* MEDIA QUERIES */
/*
 *
 *  Four-column grid active
 *  ----------------------------------------
 *  Margin   | #  1   2   3   4   |   Margin
 *  5.55555% | %  25  50  75  100 | 5.55555%
 *
 */
/*
 *  Simple elastic gutters
 *  Note: box-sizing will not work in IE6-8
 */
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*
 *
 *  Fixes for IE6-8
 *  http://jonikorpi.com/leaving-old-IE-behind/
 *
 */
.ie body {
  margin: 0 auto;
  font-size: 1.063em;
  width: 40em; }

.ie h1 {
  font-size: 2.625em;
  line-height: 1.143em;
  margin-top: 1.143em;
  margin-bottom: 0.571em; }

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    font-size: 1.063em; } }
/*
 *
 *  Eight-column grid active
 *  ----------------------------------------------------------------------
 *  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
 *  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
 *	
 *
 */
/* @media screen and (min-width: 768px) */
/*
@media screen and (min-width: 50em) {
  $hud-width: 0.375;
  $left-width: (1 - $hud-width) / 2;
  
  $m: percentage($left-width + ($hud-width * 0.50));
  $n: percentage($left-width + ($hud-width * 0.75));
  $o: percentage($left-width + ($hud-width * 0.76));
  $p: percentage($left-width + ($hud-width * 0.92));
  
  .hud { width: percentage($hud-width); }
  nav {
    @include linear-gradient((-30deg, $medgray 0%, $medgray $m, lighten($medgray, 8%) $n, lighten($medgray, 12%) $o, $medgray $p));
  }
}
*/
/* @media screen and (min-width: 768px) */
@media screen and (min-width: 50em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    /*@include calc(font-size, 16);*/ }

  h6 {
    font-size: 0.75em;
    line-height: 1.5em;
    margin-top: 2em; } }
/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    /*@include calc(font-size, 17);*/ } }
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    /*@include calc(font-size, 16);*/ }

  h6 {
    font-size: 0.938em;
    line-height: 1.467em;
    margin-top: 1.333em; }

  /*  
    .hud { width: 25%; }
    nav {
      @include linear-gradient((-30deg, $medgray 0%, $medgray 50%, lighten($medgray, 8%) 56.25%, lighten($medgray, 12%) 56.375%, $medgray 61.5%));
    }
  */
  .hud {
    width: 25%; }

  nav {
    background-image: -webkit-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 56.25%, #dbdbdb 56.5%, #bcbcbc 60.5%);
    background-image: -moz-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 56.25%, #dbdbdb 56.5%, #bcbcbc 60.5%);
    background-image: -ms-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 56.25%, #dbdbdb 56.5%, #bcbcbc 60.5%);
    background-image: -o-linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 56.25%, #dbdbdb 56.5%, #bcbcbc 60.5%);
    background-image: linear-gradient(-30deg, #bcbcbc 0%, #bcbcbc 50%, #d0d0d0 56.25%, #dbdbdb 56.5%, #bcbcbc 60.5%); }

  nav li {
    width: 11%; }
    nav li.start-over {
      width: 16%; }
    nav li.ask-tim {
      width: 21.5%; }
    nav li.definitions {
      width: 13%; }
    nav li.start-over q {
      padding-left: 24px;
      text-indent: 0;
      width: auto; }
    nav li.ask-tim a {
      padding-left: 45px;
      text-indent: 0;
      width: auto; }
    nav li.definitions a {
      padding-left: 31px;
      text-indent: 0;
      width: auto; }
    nav li.print a {
      padding-left: 26px;
      text-indent: 0;
      width: auto; }
    nav li.share a {
      padding-left: 28px;
      text-indent: 0;
      width: auto; } }
/* @media screen and (min-width: 1080px) */
@media screen and (min-width: 67.5em) {
  .splash .radial {
    bottom: 0;
    left: 50%;
    margin-left: -590px;
    max-width: 1050px;
    width: 114%; }
  .splash .preview {
    bottom: -2px;
    left: 50%;
    margin-left: -295px;
    max-width: 897px;
    width: 97.5%; } }
/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    /*@include calc(font-size, 17);*/ } }
/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    /*@include calc(font-size, 16);*/ }

  .page {
    margin: 0 16.667%; } }
/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    /*@include calc(font-size, 17);*/ } }
/*
 *
 *  Sixteen-column grid active
 *  ----------------------------------------------------------------------------------------------------------------------
 *  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
 *  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
 *
 *
 */
/* @media screen and (min-width: 1872px) */
/* @media screen and (min-width: 2080px) */
@media screen and (min-width: 130em) {
  body {
    /* Zoom baseline grid to 18/16 = 1.125 */
    font-size: 1.125em;
    max-width: 160em; } }
/*
 * Kellum Image Replacement: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
 */
.kir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
