@import "gold/zoomable-baseline-func";
@import "css3/box-sizing";

/*
 *
 *  Four-column grid active
 *  ----------------------------------------
 *  Margin   | #  1   2   3   4   |   Margin
 *  5.55555% | %  25  50  75  100 | 5.55555%
 *
 */

$margin: 100% / 18;

.input {
  @include border-radius(12px 12px 0 0);
  form { display: block; }
}

.output {
  display: block;
  @include border-radius(0 0 0 0);
  @include box-shadow(inset 0px 10px 8px -6px $lightalphagray);
}

/*
 *  Simple elastic gutters
 *  Note: box-sizing will not work in IE6-8
 */
.wrapper {
  padding: 0 0.75em;
  @include box-sizing(border-box);
}

@media screen and (min-width: 20em) {
  .home .calculator { height: 190px; }
  .input,
  .output {
    min-height: 95px;
  }
}

@media screen and (min-width: 28em) {
  .home .calculator { height: 250px; }
  .input,
  .output {
    min-height: 125px;
  }
}

@media screen and (min-width: 30em) {
  .hud {
    padding: 0.75em 0.75em 0;
    
    width: 37.5%;
    height: 84px;
  
    h2 {
        @include large;
    }

    .start b {
        top: 2px;
    }

    h5 {
      bottom: -1px;
    }
  }

  nav {
    
    @include calc(padding-top, 11, 16);
    padding-right: 0;
    @include calc(padding-bottom, 10, 16);
    padding-left: 0;

    margin-top: -53px;
    
    li {
      padding: 0 0.75em;
      width: 10%;
      
      &.start-over {
        padding-left: 2.25em;
        padding-right: 0;
        width: 15.625%;
      }
      
      &.ask-tim     { width: 15.625%; }
      &.definitions { padding-right: 0; width: 11%; }
      &.print       { }
      
      &.share {
        padding-left: 0;
        padding-right: 2.25em;
      }
    }
  }

  .home nav {
    height: 53px;
    margin-top: -53px;
  }
}

@media screen and (min-width: 32em) {

  .home .calculator { height: 310px; }
  .input,
  .output {
      min-height: 155px;
  }
  

  hgroup { 
    width: 50%;

   }
   hgroup.right {
    padding-right: 0px;
   }

  
  h6 {

    @include calc(
      margin-top, 48, 24);

  }
}

/* @media screen and (min-width: 640px) */
@media screen and (min-width: 40em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    @include calc(font-size, 17);
  }
  
  h1 {}
  h6 {}

  .home .calculator { height: 350px; }
  .input,
  .output {
      min-height: 175px;
  }
}