@import "gold/zoomable-baseline-func";
@import "css3/box-sizing";

/*
 *
 *  Eight-column grid active
 *  ----------------------------------------------------------------------
 *  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
 *  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
 *	
 *
 */
$margin: 100% / 18;

/* @media screen and (min-width: 768px) */
@media screen and (min-width: 50em) {
  body {
    /* Reset baseline grid to 16/16 = 1 */
    /*@include calc(font-size, 16);*/
  }
  
  h6 {
    @include line(12, 18);
    @include calc(margin-top, 60, 24);
  }
}

/* @media screen and (min-width: 888px) */
@media screen and (min-width: 55.5em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    /*@include calc(font-size, 17);*/
  }
}

/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    /*@include calc(font-size, 16);*/
  }
  
  h6 {
    @include line(14, 18);
    @include calc(margin-top, 52, 24);
  }

  nav li {
    &.start-over  a { padding-left: 18px + 6px; text-indent: 0; width: auto; }
    &.ask-tim     a { padding-left: 39px + 6px; text-indent: 0; width: auto; }
    &.definitions a { padding-left: 25px + 6px; text-indent: 0; width: auto; }
    &.print       a { padding-left: 20px + 6px; text-indent: 0; width: auto; }
    &.share       a { padding-left: 22px + 6px; text-indent: 0; width: auto; }
  }
}

/* @media screen and (min-width: 1200px) */
@media screen and (min-width: 75em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    /*@include calc(font-size, 17);*/
  }
}

/* @media screen and (min-width: 1392px) */
@media screen and (min-width: 87em) {
  body {
    /* Reset baseline grid to 16/16 = 1.0 */
    /*@include calc(font-size, 16);*/
  }
}

/* @media screen and (min-width: 1680px) */
@media screen and (min-width: 105em) {
  body {
    /* Zoom baseline grid to 17/16 = 1.0625 */
    /*@include calc(font-size, 17);*/
  }
}
