
// BACKGROUND & BORDER-COLOR

$orange: #ff8106;
$darkorange: #c96300;
$white: #fff;
$black: #000;

$lightgray: #e6e7e8;
$medgray: #bcbcbc;
$gray: #666;
$darkgray: #474747;

$softalphawhite: rgba(255,255,255,0.25);
$alphawhite: rgba(255,255,255,0.5);
$hardalphawhite: rgba(255,255,255,0.75);

$lightalphagray: rgba(0,0,0,0.25);
$alphagray: rgba(0,0,0,0.5);
$darkalphagray: rgba(0,0,0,0.75);



// TEXT COLOR

$textorange: #f93;
$textdarkorange: #f60;
$textblue: #39c;

$textwhite: $white;
$textgray: $gray;
$textmedgray: #525252;
$textdarkgray: #4e4d4d;
$textblack: $black;