/*
  Author: Matt Hayes
*/

#compare {
  background: transparent url(../img/_compare.png) no-repeat scroll center center;
  
  width: 1200px;
  height: 1200px;

  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  
  opacity: 0.5;
  text-align: center;
}

@import "gold/resets";

@import "norm/html5";

@import "h5bp/base";
@import "h5bp/links";
@import "h5bp/type/all";
@import "h5bp/lists";
@import "h5bp/forms/all";
@import "h5bp/table";
@import "h5bp/chromeframe";

@import "gold/fluid-media";

/* PRIMARY STYLES */
@import "layout/all";
@import "typography";

/* CHOSEN */
@import "chosen";

/* MEDIA QUERIES */
@import "04-col";
@import "08-col";
@import "16-col";

@import "helpers";

@import "h5bp/helpers";
@import "h5bp/print";